@import "../../App.css";

.navigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .button {
    background: transparent; 
    color: white;
    border: none;
    padding: 1em 2em 0.5em;
    font-size: calc(var(--index) * .9);
    border-bottom: solid #c2440a;
  }
